---
BasedOnStyle: Google
Language: Cpp
Standard: c++20
ColumnLimit: 100
IndentWidth: 4
ContinuationIndentWidth: 4
AccessModifierOffset: -4
DerivePointerAlignment: false
PointerAlignment: Left
NamespaceIndentation: None
SortIncludes: CaseSensitive
IncludeBlocks: Preserve
SpacesBeforeTrailingComments: 2
BreakBeforeBraces: Attach
AlignAfterOpenBracket: DontAlign
BinPackArguments: false
BinPackParameters: false
AllowShortFunctionsOnASingleLine: None
AllowShortBlocksOnASingleLine: Never
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortLambdasOnASingleLine: None
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
...
